@charset "utf-8";

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header-inner {
  max-width: 1200px;
  height: 150px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.site-menu {
  text-align: right;
}

.site-menu img {
  height: 50px;
  margin-right: -40px;
}

.header-logo {
  text-align: center;
}

.header-logo img {
  height: 130px;
}

.first-view {
  margin-top: 170px;
}

.second-view {
  margin-top: 50px;
}

.second-view p {
  font-size: 25px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 13px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 60px 30px 60px;
  display: flex;
  justify-content: space-between;
}

.address {
  padding-top: 10px;
  font-size: 25px;
}

.totop-logo img {
  height: 45px;
}
